#Card_black_1_Spades {
  z-index: 99; }

#Card_black_2_Spades {
  z-index: 99; }

body {
  background-color: #0A141D;
  overflow: hidden; }

.Main {
  min-width: 1366px; }

#logo {
  font-family: "Oleo Script", cursive;
  font-size: 24px;
  color: #FFAC4E;
  z-index: 81;
  position: absolute;
  top: 34px;
  left: 25px; }

#MainMenu {
  z-index: 81;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 3px outset #FFAC4E;
  padding: 36.5px 22.5px 22px 32.5px;
  border-radius: 15px 0px 15px 15px;
  box-sizing: content-box; }
  #MainMenu #Menu_button {
    transform: translateX(1px) translateY(1px); }

#MainHint {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 3px outset #FFAC4E;
  padding: 31.75px 29px;
  border-radius: 15px 15px 15px 0px;
  box-sizing: content-box; }

#MainBack {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 3px outset #FFAC4E;
  padding: 31.75px 29px;
  border-radius: 15px 15px 0px 15px;
  box-sizing: content-box; }

.hold {
  border: 1px outset #FFAC4E !important;
  border-radius: 6px 6px 6px 6px !important;
  box-sizing: border-box !important;
  margin: 10px !important; }

.FreeHold {
  position: absolute;
  width: 41.875%;
  height: 25%;
  left: 7%;
  top: 7.5%; }
  .FreeHold div {
    position: absolute;
    display: inline-block;
    box-sizing: content-box;
    background-image: url("../UI/Main/Hold.svg");
    background-size: cover; }
  .FreeHold div:nth-child(1) {
    left: 0px; }
  .FreeHold div:nth-child(2) {
    left: 148px; }
  .FreeHold div:nth-child(3) {
    left: 296px; }
  .FreeHold div:nth-child(4) {
    left: 444px; }

.MainHold {
  position: absolute;
  width: 41.875%;
  height: 25%;
  right: 7%;
  top: 7.5%; }
  .MainHold div {
    position: absolute;
    height: 93.3%;
    width: 20.2%;
    margin-right: 5%;
    display: inline-block;
    box-sizing: content-box;
    background-image: url("../UI/Main/Hold.svg");
    background-size: cover; }
    .MainHold div p {
      color: #FFFFFF;
      opacity: 0.3;
      font-family: "Oleo Script", cursive;
      font-size: 50px;
      text-align: center;
      margin-bottom: auto; }
  .MainHold div:nth-child(1) {
    left: 0px; }
  .MainHold div:nth-child(2) {
    left: 148px; }
  .MainHold div:nth-child(3) {
    left: 296px; }
  .MainHold div:nth-child(4) {
    left: 444px; }

.PlaceHold1 {
  position: absolute;
  width: 41.875%;
  height: 25%;
  left: 7%;
  top: 35%; }
  .PlaceHold1 div {
    position: absolute;
    height: 93.3%;
    width: 20.2%;
    margin-right: 5%;
    display: inline-block;
    box-sizing: content-box;
    background-image: url("../UI/Main/Hold.svg");
    background-size: cover; }
  .PlaceHold1 div:nth-child(1) {
    left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(1) {
      top: 0px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(2) {
      top: 32px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(3) {
      top: 64px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(4) {
      top: 96px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(5) {
      top: 128px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(6) {
      top: 160px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(7) {
      top: 192px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(8) {
      top: 224px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(9) {
      top: 256px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(10) {
      top: 288px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(11) {
      top: 320px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(12) {
      top: 352px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(13) {
      top: 384px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(14) {
      top: 416px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(15) {
      top: 448px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(16) {
      top: 480px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(17) {
      top: 512px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(18) {
      top: 544px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(1) .offset:nth-child(19) {
      top: 576px !important;
      left: 0px; }
  .PlaceHold1 div:nth-child(2) {
    left: 148px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(1) {
      top: 0px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(2) {
      top: 32px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(3) {
      top: 64px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(4) {
      top: 96px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(5) {
      top: 128px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(6) {
      top: 160px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(7) {
      top: 192px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(8) {
      top: 224px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(9) {
      top: 256px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(10) {
      top: 288px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(11) {
      top: 320px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(12) {
      top: 352px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(13) {
      top: 384px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(14) {
      top: 416px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(15) {
      top: 448px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(16) {
      top: 480px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(17) {
      top: 512px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(18) {
      top: 544px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(2) .offset:nth-child(19) {
      top: 576px !important;
      left: 0px; }
  .PlaceHold1 div:nth-child(3) {
    left: 296px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(1) {
      top: 0px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(2) {
      top: 32px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(3) {
      top: 64px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(4) {
      top: 96px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(5) {
      top: 128px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(6) {
      top: 160px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(7) {
      top: 192px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(8) {
      top: 224px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(9) {
      top: 256px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(10) {
      top: 288px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(11) {
      top: 320px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(12) {
      top: 352px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(13) {
      top: 384px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(14) {
      top: 416px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(15) {
      top: 448px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(16) {
      top: 480px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(17) {
      top: 512px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(18) {
      top: 544px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(3) .offset:nth-child(19) {
      top: 576px !important;
      left: 0px; }
  .PlaceHold1 div:nth-child(4) {
    left: 444px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(1) {
      top: 0px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(2) {
      top: 32px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(3) {
      top: 64px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(4) {
      top: 96px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(5) {
      top: 128px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(6) {
      top: 160px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(7) {
      top: 192px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(8) {
      top: 224px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(9) {
      top: 256px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(10) {
      top: 288px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(11) {
      top: 320px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(12) {
      top: 352px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(13) {
      top: 384px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(14) {
      top: 416px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(15) {
      top: 448px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(16) {
      top: 480px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(17) {
      top: 512px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(18) {
      top: 544px !important;
      left: 0px; }
    .PlaceHold1 div:nth-child(4) .offset:nth-child(19) {
      top: 576px !important;
      left: 0px; }

.PlaceHold2 {
  position: absolute;
  width: 41.875%;
  height: 25%;
  right: 7%;
  top: 35%; }
  .PlaceHold2 div:last-child {
    margin: 0; }
  .PlaceHold2 div {
    position: absolute;
    height: 93.3%;
    width: 20.2%;
    margin-right: 5%;
    display: inline-block;
    box-sizing: content-box;
    background-image: url("../UI/Main/Hold.svg");
    background-size: cover; }
  .PlaceHold2 div:nth-child(1) {
    left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(1) {
      top: 0px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(2) {
      top: 32px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(3) {
      top: 64px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(4) {
      top: 96px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(5) {
      top: 128px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(6) {
      top: 160px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(7) {
      top: 192px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(8) {
      top: 224px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(9) {
      top: 256px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(10) {
      top: 288px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(11) {
      top: 320px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(12) {
      top: 352px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(13) {
      top: 384px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(14) {
      top: 416px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(15) {
      top: 448px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(16) {
      top: 480px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(17) {
      top: 512px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(18) {
      top: 544px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(1) .offset:nth-child(19) {
      top: 576px !important;
      left: 0px; }
  .PlaceHold2 div:nth-child(2) {
    left: 148px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(1) {
      top: 0px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(2) {
      top: 32px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(3) {
      top: 64px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(4) {
      top: 96px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(5) {
      top: 128px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(6) {
      top: 160px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(7) {
      top: 192px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(8) {
      top: 224px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(9) {
      top: 256px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(10) {
      top: 288px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(11) {
      top: 320px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(12) {
      top: 352px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(13) {
      top: 384px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(14) {
      top: 416px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(15) {
      top: 448px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(16) {
      top: 480px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(17) {
      top: 512px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(18) {
      top: 544px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(2) .offset:nth-child(19) {
      top: 576px !important;
      left: 0px; }
  .PlaceHold2 div:nth-child(3) {
    left: 296px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(1) {
      top: 0px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(2) {
      top: 32px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(3) {
      top: 64px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(4) {
      top: 96px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(5) {
      top: 128px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(6) {
      top: 160px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(7) {
      top: 192px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(8) {
      top: 224px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(9) {
      top: 256px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(10) {
      top: 288px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(11) {
      top: 320px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(12) {
      top: 352px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(13) {
      top: 384px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(14) {
      top: 416px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(15) {
      top: 448px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(16) {
      top: 480px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(17) {
      top: 512px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(18) {
      top: 544px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(3) .offset:nth-child(19) {
      top: 576px !important;
      left: 0px; }
  .PlaceHold2 div:nth-child(4) {
    left: 444px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(1) {
      top: 0px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(2) {
      top: 32px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(3) {
      top: 64px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(4) {
      top: 96px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(5) {
      top: 128px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(6) {
      top: 160px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(7) {
      top: 192px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(8) {
      top: 224px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(9) {
      top: 256px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(10) {
      top: 288px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(11) {
      top: 320px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(12) {
      top: 352px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(13) {
      top: 384px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(14) {
      top: 416px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(15) {
      top: 448px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(16) {
      top: 480px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(17) {
      top: 512px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(18) {
      top: 544px !important;
      left: 0px; }
    .PlaceHold2 div:nth-child(4) .offset:nth-child(19) {
      top: 576px !important;
      left: 0px; }

.Card {
  position: absolute; }
  .Card img {
    position: absolute;
    width: 100%; }

div.InvisDiv {
  top: 20px !important;
  left: 0 !important;
  background-image: none; }

.Menu {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 90%;
  border: 3px solid #FFAC4E;
  border-radius: 0px 0px 45px 45px;
  background-color: #0A141D;
  z-index: 80;
  transition-duration: 0.3s; }
  .Menu .Menu_inside {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%); }
    .Menu .Menu_inside .Restart, .Menu .Menu_inside .Newgame, .Menu .Menu_inside .EndGame {
      border: 3px solid #FFAC4E;
      border-radius: 15px 15px 15px 15px;
      margin-top: 45px;
      width: fit-content;
      height: fit-content;
      margin-right: auto;
      margin-left: auto; }
      .Menu .Menu_inside .Restart:hover, .Menu .Menu_inside .Newgame:hover, .Menu .Menu_inside .EndGame:hover {
        background-color: #FFAC4E; }
        .Menu .Menu_inside .Restart:hover div.Menu_margin, .Menu .Menu_inside .Newgame:hover div.Menu_margin, .Menu .Menu_inside .EndGame:hover div.Menu_margin {
          transform: translateX(45px);
          color: black; }
      .Menu .Menu_inside .Restart div.Menu_margin, .Menu .Menu_inside .Newgame div.Menu_margin, .Menu .Menu_inside .EndGame div.Menu_margin {
        font-size: 50px;
        color: #FFAC4E;
        font-family: "Oleo Script", cursive;
        font-weight: 300;
        letter-spacing: 4.75px;
        display: inline-block;
        margin: 17.25px 47.5px;
        transition-duration: 0.3s; }
      .Menu .Menu_inside .Restart .short, .Menu .Menu_inside .Newgame .short, .Menu .Menu_inside .EndGame .short {
        display: inline; }
      .Menu .Menu_inside .Restart img, .Menu .Menu_inside .Newgame img, .Menu .Menu_inside .EndGame img {
        margin-right: 55px;
        transform: translateY(4px); }
      .Menu .Menu_inside .Restart .reverse, .Menu .Menu_inside .Newgame .reverse, .Menu .Menu_inside .EndGame .reverse {
        transform: translateY(4px) scaleX(-1); }

.Menu_hide {
  transform: translateY(-100%); }

.End {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 41.7%;
  height: 660px;
  border: 3px solid #FFAC4E;
  border-radius: 45px 45px 0px 0px;
  background-color: #0A141D;
  z-index: 80;
  transition-duration: 0.3s;
  transform: translateX(-50%); }
  .End .EndContent {
    margin-top: 38px; }
    .End .EndContent .Step {
      font-size: 100px;
      color: #FFFFFF;
      font-family: "Oleo Script", cursive;
      letter-spacing: 6.5px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
    .End .EndContent #deco {
      position: absolute;
      width: 100%;
      top: 81px; }
  .End .TimeCost {
    margin-top: 187px; }
    .End .TimeCost .TimeCost_inside {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
      .End .TimeCost .TimeCost_inside #TimeIcon {
        margin-right: 38.75px;
        display: inline-block; }
      .End .TimeCost .TimeCost_inside .TimeCost_time {
        display: inline-block;
        font-size: 50px;
        color: #FFFFFF;
        font-family: "Oleo Script", cursive;
        letter-spacing: 3.5px; }
  .End .Restart, .End .Newgame {
    border: 3px solid #FFAC4E;
    border-radius: 15px 15px 15px 15px;
    margin-top: 290px;
    width: fit-content;
    height: fit-content;
    margin-right: auto;
    margin-left: auto; }
    .End .Restart:hover, .End .Newgame:hover {
      background-color: #FFAC4E; }
      .End .Restart:hover div.Menu_margin, .End .Newgame:hover div.Menu_margin {
        transform: translateX(45px);
        color: black; }
    .End .Restart div.Menu_margin, .End .Newgame div.Menu_margin {
      font-size: 50px;
      color: #FFAC4E;
      font-family: "Oleo Script", cursive;
      font-weight: 300;
      letter-spacing: 4.75px;
      display: inline-block;
      margin: 17.25px 47.5px;
      transition-duration: 0.3s; }
    .End .Restart .reverse, .End .Newgame .reverse {
      transform: translateY(4px) scaleX(-1); }
    .End .Restart img, .End .Newgame img {
      margin-right: 40px; }
  .End .Newgame {
    margin-top: 66px; }

.End_hide {
  transform: translateX(-50%) translateY(100%); }

.MainButton:hover {
  background-color: #FFAC4E; }
  .MainButton:hover img {
    filter: grayscale(1); }
.MainButton #Close {
  transform: rotateZ(45deg);
  z-index: 81; }

.hide {
  display: none !important; }

.noBorder {
  border: none !important; }
  .noBorder:hover {
    background-color: #0A141D; }
    .noBorder:hover img {
      transform: scale(1.3) rotateZ(45deg) !important;
      transition-duration: 0.2s;
      filter: none; }

@media only screen and (max-width: 1366px) {
  .MainButton {
    width: 25px;
    height: 25px;
    padding: 16px 16px !important; }
    .MainButton img {
      width: 100%; }

  .CardSize {
    height: 177.5px !important;
    width: 115px !important; }

  .HoldSize {
    height: 250px !important;
    width: 162px !important;
    margin-right: 48px !important; }

  .MainHold div:nth-child(1), .PlaceHold2 div:nth-child(1), .PlaceHold1 div:nth-child(1), .FreeHold div:nth-child(1) {
    left: 0%; }
  .MainHold div:nth-child(2), .PlaceHold2 div:nth-child(2), .PlaceHold1 div:nth-child(2), .FreeHold div:nth-child(2) {
    left: 25%; }
  .MainHold div:nth-child(3), .PlaceHold2 div:nth-child(3), .PlaceHold1 div:nth-child(3), .FreeHold div:nth-child(3) {
    left: 50%; }
  .MainHold div:nth-child(4), .PlaceHold2 div:nth-child(4), .PlaceHold1 div:nth-child(4), .FreeHold div:nth-child(4) {
    left: 75%; }

  .PlaceHold1, .PlaceHold2 {
    top: 280px; }

  .MainHold, .FreeHold {
    top: 75px; }

  .TimeMove {
    position: absolute;
    top: 25px;
    left: 50%;
    height: 41px;
    width: 153px;
    transform: translateX(-50%); }
    .TimeMove span {
      height: 41px;
      color: white;
      position: absolute;
      font-family: "Oleo Script", cursive;
      font-size: 30px; }
    .TimeMove #MoveCount {
      transform: translateX(-40px);
      right: 50%;
      font-weight: 300;
      letter-spacing: 2.5px; }
    .TimeMove #TimeCount {
      left: 50%;
      transform: translateX(35px);
      font-weight: 300;
      letter-spacing: 2.5px; }
    .TimeMove img {
      position: absolute;
      left: 50%;
      height: 25px;
      padding: 27px;
      padding-top: 8px;
      padding-bottom: 8px;
      transform: translateX(-50%); }

  .Menu_inside img {
    display: none !important; }
  .Menu_inside .Menu_margin {
    font-size: 35px !important; }
    .Menu_inside .Menu_margin .short {
      display: inline; } }
@media only screen and (max-width: 1080px) {
  .MainButton {
    width: 20px;
    height: 20px;
    padding: 20px 20px !important; }
    .MainButton img {
      width: 100%; }

  .CardSize {
    height: 145px !important;
    width: 95px !important; }

  .HoldSize {
    height: 250px !important;
    width: 162px !important;
    margin-right: 48px !important; }

  .MainHold div:nth-child(1), .PlaceHold2 div:nth-child(1), .PlaceHold1 div:nth-child(1), .FreeHold div:nth-child(1) {
    left: 0%; }
  .MainHold div:nth-child(2), .PlaceHold2 div:nth-child(2), .PlaceHold1 div:nth-child(2), .FreeHold div:nth-child(2) {
    left: 25%; }
  .MainHold div:nth-child(3), .PlaceHold2 div:nth-child(3), .PlaceHold1 div:nth-child(3), .FreeHold div:nth-child(3) {
    left: 50%; }
  .MainHold div:nth-child(4), .PlaceHold2 div:nth-child(4), .PlaceHold1 div:nth-child(4), .FreeHold div:nth-child(4) {
    left: 75%; }

  .Menu_inside img {
    display: none !important; }
  .Menu_inside .Menu_margin {
    font-size: 35px !important; }
    .Menu_inside .Menu_margin .short {
      display: none; } }
@media only screen and (min-width: 1366px) {
  .MainButton {
    width: 25px;
    height: 25px;
    padding: 20px 20px !important; }
    .MainButton img {
      width: 30px; }

  .CardSize {
    height: 177.5px !important;
    width: 115px !important;
    margin-right: 48px; }

  .HoldSize {
    height: 250px !important;
    width: 162px !important;
    margin-right: 48px !important; }

  .MainHold div:nth-child(1), .PlaceHold2 div:nth-child(1), .PlaceHold1 div:nth-child(1), .FreeHold div:nth-child(1) {
    left: 0%; }
  .MainHold div:nth-child(2), .PlaceHold2 div:nth-child(2), .PlaceHold1 div:nth-child(2), .FreeHold div:nth-child(2) {
    left: 25%; }
  .MainHold div:nth-child(3), .PlaceHold2 div:nth-child(3), .PlaceHold1 div:nth-child(3), .FreeHold div:nth-child(3) {
    left: 50%; }
  .MainHold div:nth-child(4), .PlaceHold2 div:nth-child(4), .PlaceHold1 div:nth-child(4), .FreeHold div:nth-child(4) {
    left: 75%; }

  .PlaceHold1, .PlaceHold2 {
    top: 280px; }

  .MainHold, .FreeHold {
    top: 75px; }

  .TimeMove {
    position: absolute;
    top: 25px;
    left: 50%;
    height: 41px;
    width: 153px;
    transform: translateX(-50%); }
    .TimeMove span {
      height: 41px;
      color: white;
      position: absolute;
      font-family: "Oleo Script", cursive;
      font-size: 30px; }
    .TimeMove #MoveCount {
      transform: translateX(-40px);
      right: 50%;
      font-weight: 300;
      letter-spacing: 2.5px; }
    .TimeMove #TimeCount {
      left: 50%;
      transform: translateX(35px);
      font-weight: 300;
      letter-spacing: 2.5px; }
    .TimeMove img {
      position: absolute;
      left: 50%;
      height: 25px;
      padding: 27px;
      padding-top: 8px;
      padding-bottom: 8px;
      transform: translateX(-50%); } }
@media only screen and (min-width: 1920px) {
  .MainButton {
    width: auto;
    height: auto; }

  .CardSize {
    height: 250px !important;
    width: 162px !important; }

  .HoldSize {
    height: 250px !important;
    width: 162px !important;
    margin-right: 48px !important; }

  .MainHold, .PlaceHold2, .PlaceHold1, .FreeHold {
    height: 268px;
    width: 804px; }
    .MainHold div:nth-child(1), .PlaceHold2 div:nth-child(1), .PlaceHold1 div:nth-child(1), .FreeHold div:nth-child(1) {
      left: 0px; }
    .MainHold div:nth-child(2), .PlaceHold2 div:nth-child(2), .PlaceHold1 div:nth-child(2), .FreeHold div:nth-child(2) {
      left: 222px; }
    .MainHold div:nth-child(3), .PlaceHold2 div:nth-child(3), .PlaceHold1 div:nth-child(3), .FreeHold div:nth-child(3) {
      left: 431px; }
    .MainHold div:nth-child(4), .PlaceHold2 div:nth-child(4), .PlaceHold1 div:nth-child(4), .FreeHold div:nth-child(4) {
      left: 640px; }

  .FreeHold, .MainHold {
    top: 10%; }

  .PlaceHold1, .PlaceHold2 {
    top: 38%; }

  .MainHold, .PlaceHold2 {
    right: 7%; }

  .TimeMove {
    position: absolute;
    top: 25px;
    left: 50%;
    height: 41px;
    width: 153px;
    transform: translateX(-50%); }
    .TimeMove span {
      height: 41px;
      color: white;
      position: absolute;
      font-family: "Oleo Script", cursive;
      font-size: 30px; }
    .TimeMove #MoveCount {
      transform: translateX(-40px);
      right: 50%;
      font-weight: 300;
      letter-spacing: 2.5px; }
    .TimeMove #TimeCount {
      left: 50%;
      transform: translateX(35px);
      font-weight: 300;
      letter-spacing: 2.5px; }
    .TimeMove img {
      position: absolute;
      left: 50%;
      height: 25px;
      padding: 27px;
      padding-top: 8px;
      padding-bottom: 8px;
      transform: translateX(-50%); } }

/*# sourceMappingURL=main.css.map */
