* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  position: relative;
  font-family: "Barlow", "Noto Sans TC", sans-serif; }

html {
  display: flex;
  flex-flow: wrap;
  justify-content: center; }
  html::-webkit-scrollbar {
    display: none; }

#ROOM {
  display: inline; }
  #ROOM .room {
    width: 1100px;
    height: 300px;
    margin-top: 30px;
    justify-content: space-between; }

.img_block {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  width: 377px;
  height: 300px;
  overflow: hidden; }
  .img_block .shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1; }
  .img_block img {
    position: absolute;
    width: 100%; }
  .img_block .text {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px; }
    .img_block .text hr {
      width: 40px;
      border: 0.5px solid white;
      margin-top: 20px; }

.info_block {
  width: 380px;
  height: 300px;
  flex-wrap: wrap; }
  .info_block .info_text {
    width: 360px;
    height: 116px;
    flex-wrap: wrap;
    justify-content: center; }
    .info_block .info_text .title {
      width: 100%;
      font-size: 24px;
      font-weight: bold; }
    .info_block .info_text .detail {
      width: 48%;
      height: 18px;
      font-size: 18px;
      font-weight: lighter;
      border-left: 0.5px solid black;
      padding: 10px;
      align-items: center; }
  .info_block .info_img {
    width: 360px;
    height: 184px;
    flex-wrap: wrap;
    overflow: hidden; }
    .info_block .info_img img {
      margin: 6px; }

.collap {
  background-color: unset !important;
  position: relative !important;
  height: max-content !important; }
  .collap #scroll {
    height: max-content !important;
    overflow: hidden !important; }
  .collap #showpart, .collap #infopart {
    display: none !important; }

#booking {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: -webkit-fill-available;
  justify-content: center;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7); }
  #booking #scroll {
    width: 1120px;
    height: 700px;
    align-items: center;
    overflow: scroll;
    flex-wrap: wrap; }
    #booking #scroll #showpart {
      width: 1120px;
      height: 780px;
      background-color: white;
      flex-wrap: wrap; }
      #booking #scroll #showpart #photo {
        width: 100%;
        justify-content: space-between;
        height: 600px; }
        #booking #scroll #showpart #photo #title {
          width: 150px;
          height: 150px;
          border: 1px solid black; }
        #booking #scroll #showpart #photo #img {
          width: 450px; }
        #booking #scroll #showpart #photo #money {
          align-self: flex-end;
          width: 200px;
          height: 100px; }
    #booking #scroll #index {
      width: 100%;
      height: 200px;
      background-color: #F8F1EA;
      align-items: center;
      z-index: 3; }
      #booking #scroll #index .index_block {
        background-color: white;
        width: 180px;
        height: 120px;
        margin-left: 32px; }
    #booking #scroll #infopart {
      width: 1120px;
      height: 570px;
      background-color: white;
      flex-wrap: wrap;
      padding: 0px 40px;
      padding-top: 50px; }
      #booking #scroll #infopart .setblock {
        width: 500px;
        height: 100px;
        flex-direction: column; }
        #booking #scroll #infopart .setblock .img {
          width: 100%;
          height: 120px; }
          #booking #scroll #infopart .setblock .img .imgblock {
            height: 120px;
            width: 90px; }
      #booking #scroll #infopart #info {
        flex-direction: column;
        width: 1000px;
        height: 150px; }
      #booking #scroll #infopart #detail {
        width: 700px;
        height: 60px;
        flex-wrap: wrap; }
        #booking #scroll #infopart #detail .d1 {
          width: 170px; }
        #booking #scroll #infopart #detail .d2 {
          width: 170px; }
        #booking #scroll #infopart #detail .d3 {
          width: 330px; }
    #booking #scroll #bookpart {
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      width: 1120px;
      height: 72px;
      z-index: 3;
      background-color: #D1C8C3;
      transition-duration: 0.3s;
      overflow: hidden; }
      #booking #scroll #bookpart input {
        padding: 8px 20px;
        font-size: 14px;
        width: 100%; }
      #booking #scroll #bookpart #CheckOut, #booking #scroll #bookpart #CheckIn {
        margin: 0 10px;
        width: 244px;
        height: 36px;
        position: relative; }
        #booking #scroll #bookpart #CheckOut img, #booking #scroll #bookpart #CheckIn img {
          position: absolute;
          right: 13px;
          top: 9px; }
      #booking #scroll #bookpart #HowManyAdult, #booking #scroll #bookpart #HowManyKid {
        margin: 0 10px;
        width: 180px;
        height: 36px;
        position: relative;
        background-color: white; }
        #booking #scroll #bookpart #HowManyAdult .add, #booking #scroll #bookpart #HowManyKid .add {
          position: absolute;
          right: 0;
          color: white;
          background-color: black;
          height: 100%;
          font-weight: 100;
          font-size: 28px;
          width: 36px;
          padding: 0 12px; }
        #booking #scroll #bookpart #HowManyAdult .minus, #booking #scroll #bookpart #HowManyKid .minus {
          position: absolute;
          left: 0;
          color: white;
          background-color: black;
          height: 100%;
          font-weight: 100;
          font-size: 28px;
          width: 36px;
          padding: 0 12px; }
      #booking #scroll #bookpart #search {
        margin: 0 10px;
        width: 136px;
        height: 36px;
        background-color: black;
        color: white;
        font-size: 18px;
        padding: 7px 35px; }

.money {
  width: 275px;
  height: 300px;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold; }
  .money .normal, .money .holiday {
    align-items: center; }
  .money .big {
    margin-left: 10px;
    font-size: 36px; }
  .money img {
    position: absolute;
    bottom: 0; }
  .money .more {
    left: 0; }
  .money .search {
    right: 0; }
  .money .normal {
    margin-top: 50px; }
  .money .holiday {
    margin-top: 20px; }

@media only screen and (min-width: 1920px) {
  .room {
    width: 1280px !important;
    height: 400px !important; }
    .room .img_block {
      height: 400px; }
    .room .info_block {
      width: 540px;
      height: 400px; }
      .room .info_block .info_img {
        align-content: center;
        width: 368px;
        height: 270px; } }

/*# sourceMappingURL=style.css.map */
